$primary: #f89808;
$secondary: #0f0f0f;
$error: rgba(255,82,82,.13);

.primary-bg {
  background-color: $primary !important;
}

.secondary-bg {
  background-color: $secondary !important;
}

.error-bg {
  background-color: $error !important;
}

.primary {
  color: $primary !important;
}

.secondary {
  color: $secondary !important;
}

.error {
  color: $error !important;
}

a:not(.MuiButtonBase-root ),
a:link:not(.MuiButtonBase-root ),
a:visited:not(.MuiButtonBase-root ) {
  color: #1c9aff;
  text-decoration: none;
}

a:hover:not(.MuiButtonBase-root ) {
  color: #1d7ae6;
  text-decoration: underline;
}