$primary: #f89808;
$secondary: #0f0f0f;
$red: rgba(255, 82, 82, 0.13);
$blue: rgba(68, 138, 255, 0.13);
$grey: #f0f0f0;

.primary-bg {
  background-color: $primary !important;
}

.secondary-bg {
  background-color: $secondary !important;
}

.red-bg {
  background-color: $red !important;
}

.blue-bg {
  background-color: $blue !important;
}

.grey-bg {
  background-color: $grey !important;
}

.primary {
  color: $primary !important;
}

.secondary {
  color: $secondary !important;
}

.red {
  color: $red !important;
}

.blue {
  color: $blue !important;
}

.grey {
  color: $grey !important;
}

a:not(.MuiButtonBase-root),
a:link:not(.MuiButtonBase-root),
a:visited:not(.MuiButtonBase-root) {
  color: #1c9aff;
  text-decoration: none;
}

a:hover:not(.MuiButtonBase-root) {
  color: #1d7ae6;
  text-decoration: underline;
}

.red-bg.winner {
  background-color: #ffe5e5;
}

.blue-bg.winner {
  background-color: #e5e5ff;
}

.simple-match-table > tbody > tr > td {
  padding: 0;
}

.simple-match-table > tbody > tr > td > button {
  padding: 16px;
}

.event-tabs {
  padding: 16px;
}

.event-match-table {
  font-size: 2rem;
}

.event-match-table td .MuiButton-text {
  padding: 15px;
}
